@font-face {
    font-family: 'JesterFont'; /* Use a unique name (no lowercase conflicts) */
    src: url('/fonts/Jester.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'RingmasterFont'; /* Use a unique name */
    src: url('/fonts/ringmaster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  